h2 {
  color: #5FCFFC;
  background-color: rgb(89, 151, 0);
}

button {
  color: magenta;
  background-color: cyan;
}

p {
  color: olive;
  background: orange;
  /*background is different than background-color*/
}

body {
  background-color: #c5e;
  /*hex can be shortened if one of the rgb values has the same two digits*/
}