body {
  font-family: 'Open Sans', sans-serif;
}

h1 {
  text-align: center;
}

#container {
  background-color: #003049;
  width: 90%;
  margin: 0 auto;
  border: 5px solid #003049;
  display: flex;
  flex-direction: row;
  /* flex direction row is default */
  justify-content: center;
  /* flex start depends on the main axis */
  /* flex-wrap: wrap; */
  /* wraps based on main column and justify-content property */
  /* wrap-reverse wraps the opposite direction and changes the cross axis */
  /* align-items: flex-end; */
  /* align items is on the cross axis */
  /* baseline depends on bottom of text */
  /* align-content: center; */
  /* space between the content caused by wrap*/
}

#container div {
  height: 200px;
  width: 600px;
  text-align: center;
}

div:nth-of-type(1) {
  /* flex-grow: 1; */
  /* grows to fill up space */
  flex-shrink: 1;
}

/* div:nth-of-type(2) {
  align-self: center;
}

div:nth-of-type(3) {
  align-self: flex-end;
} */

div:nth-of-type(5) {
  /* flex-grow: 2; */
  /* grows twice as fast as flex-grow 1 */
  flex-shrink: 2;
}

main {
  width: 80%;
  margin: 0 auto;
  border: 5px solid black;
  height: 500px;
  display: flex;
}

main .sidebar {
  background-color: #6930c3;
  flex: 1 2 300px;
  /* grow|shrink|basis */
}

main .maincontent {
  background-color: #80ffdb;
  flex: 2 1 800px;
}